{% load static %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">

<h2 class="text-2xl text-center p-3 font-semibold text-teal-800 mb-6">Set New Password</h2>
<div class="max-w-lg flex justify-center p-6 bg-white rounded-lg shadow-md">
    <form method="post" class="self-center">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="mt-5 justify-self-center mx-auto w-36 bg-teal-800 text-white py-2 rounded-sm font-medium ">
            Reset Password
        </button>
    </form>
</div>