{% load static %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">

<h2 class="text-2xl text-center font-semibold text-teal-800 p-3">Reset Your Password</h2>
<div class="max-w-lg mx-auto p-6 flex justify-center bg-white rounded-lg shadow-md">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="mt-5 justify-self-center mx-auto w-36 bg-teal-800 text-white py-2 rounded-sm font-medium">
            Send Reset Link
        </button>
    </form>
</div>