{% load widget_tweaks %}
{% load static %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<div class="justify-self-center text-center text-teal-800 mt-5 hover:underline font-bold"><a href="{% url 'home' %}">Home</a></div>
<div class="flex justify-center bg-teal-50 mt-10">
    <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md">
        <h2 class="text-2xl font-bold text-teal-800 mb-6 text-center">Sign In</h2>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div class="flex flex-col mt-3">
                <label for="{{ form.username.id_for_label }}" class="text-gray-700">Username</label>
                {{ form.username|add_class:"rounded-sm border-2" }}
            </div>
            <div class="flex flex-col mt-3">
                <label for="{{ form.password.id_for_label }}" class="text-gray-700">Password</label>
                {{ form.password|add_class:"rounded-sm border-2" }}
            </div>
            
            <p class="mt-4 text-center font-bold text-teal-800">
                <a href="{% url 'users:password_reset' %}" class="text-teal-800 font-bold hover:underline">Forgot Password </a>
            </p>
            {% if form.non_field_errors %}
            <p class="text-red-500 text-sm">{{ form.non_field_errors }}</p>
            {% endif %}
            <div class="flex justify-center">

                <button
                type="submit"
                class="mt-5 justify-self-center mx-auto w-36 bg-teal-800 text-white py-2 rounded-sm font-medium "
                >
                    Sign In
                </button>
            </div>
        </form>
        <p class="mt-4 text-center text-gray-600">
            Don't have an account? 
            <a href="{% url 'users:signup' %}" class="text-teal-800 font-bold hover:underline">Sign Up</a>
        </p>
    </div>
</div>
