{% extends 'base.html' %}
{% load static %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Genres</h2>
    <div class="flex flex-wrap justify-center gap-10">

        {% for letter, genre_list in grouped_genres.items %}
            <div class="w-40">
                <h3 class="font-bold text-lg mb-2 border-b">{{ letter }}</h3>
                <ul>
                    {% for genre in genre_list %}
                        <li class="mb-1 hover:underline">
                            <a href="{% url 'books:genre' genre.name %}">
                                {{ genre.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
